<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <a class="navbar-brand">МТУСИ: Расписание</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <a class="navbar-brand" href="/lecturers">Главное</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class="navbar-brand">
  <div class="dropdown">
    <button class="dropbtn">Добавить запись</button>
    <div class="dropdown-content">
      <a href="/lecturers/AddGroups">Группа</a>
      <a href="/lecturers/Schedule">Расписание</a>
      <a href="/lecturers/AddLecturers">Преподаватели</a>
      <a href="/lecturers/AddSubject">Предметы</a>
    </div>
  </div>
</div>




</nav>

<style>

  .dropbtn {
    background-color: transparent;
    color: white;
    padding: 2px;
    font-size: 20px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

</style>